$cd-primaire: #9356DC;
$cd-secondaire: #FF79DA;
$cd-tertiaire: #99E2D0;

footer {
    background-color: #353535;
    color: snow;
    padding: 10px 0 20px 20px;
}

section {
    padding-bottom: 30px;
    &, article {
    background-color: #f6f6f6;
}
}

.card_restau {
    border: 2px solid #f6f6f6;
    background-color: snow;

}
.img_restau {
    width: 100%;
    max-height: 231px;
    object-fit: cover;
}

.fonc_texte {
    border: 2px solid #f6f6f6;
    background-color: #f6f6f6;
    margin: 5px;
}

.btn {
    border: 2px solid $cd-primaire;
    background-color: $cd-primaire;
}