$cd-primaire: #9356DC;
$cd-secondaire: #FF79DA;
$cd-tertiaire: #99E2D0;
$restau-margin: 6px;

footer {
    background-color: #353535;
    color: snow;
}

section {
    background-color: #f6f6f6;
}

article {
    background-color: #f6f6f6;
}

h4 {
    background-color: #eaeaea;
}

.card_restau_1 {
    border: 2px solid #f6f6f6;
    background-color: snow;
    margin: $restau-margin;
}
.img_restau_1 {
    width: 10%;
}

.card_restau_2 {
    border: 2px solid #f6f6f6;
    background-color: snow;
    margin: $restau-margin;
}
.img_restau_2 {
    width: 10%;
}

.card_restau_3 {
    border: 2px solid #f6f6f6;
    background-color: snow;
    margin: $restau-margin;
}
.img_restau_3 {
    width: 10%;
}

.card_restau_4 {
    border: 2px solid #f6f6f6;
    background-color: snow;
    margin: $restau-margin;
}
.img_restau_4 {
    width: 10%;
}

.fonc_1 {
    border: 2px solid #f6f6f6;
    background-color: #f6f6f6;
    margin: 5px;
}

.fonc_2 {
    border: 2px solid #f6f6f6;
    background-color: #f6f6f6;
    margin: 5px;
}

.fonc_3 {
    border: 2px solid #f6f6f6;
    background-color: #f6f6f6;
    margin: 5px;
}

.btn {
    border: 2px solid $cd-primaire;
    background-color: $cd-primaire;
}