@font-face {
    font-family: "shrikhand";
    src: url(police/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(police/Roboto-Regular.ttf);
}

body {
    width: 100%;
}
main {
    background-color: #f2f2f2;
    width: 100%;
    margin: 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.pics {
    width: 100%;
    z-index: -1;
    position: fixed;
    height: 360px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 335px;
    background-color: #f2f2f2;
    padding: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.coeur {
    align-self: center;
    margin-right: 30px;
}

.entrée {
    &_1, &_2, &_3 {
        border: 2px solid black;
        background-color: white;
        margin: 15px;
        padding: 5px;
        border-radius: 15px;
        line-height: 0px;
        height: 75px;
    }   
}
.prix {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 45px;
}


.plat {
    &_1, &_2, &_3 {
        border: 2px solid black;
        background-color: white;
        margin: 15px;
        padding: 5px;
        border-radius: 15px;
        line-height: 0px;
        height: 75px;
    }
}

.dessert {
    &_1, &_2, &_3 {
        border: 2px solid black;
        background-color: white;
        margin: 15px;
        padding: 5px;
        border-radius: 15px;
        line-height: 0px;
        height: 75px;
    }
}

footer {
    background-color: #353535;
    color: snow;
    padding: 10px 0 20px 20px;
}