.logo {
    display: flex;
    width: 50%;
    margin: auto;
}

.intro_lieu {
    display: flex;
    justify-content: center;
}

.intro_menu, aside {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img_restau {
    &_1, &_2, &_3, &_4 {
        width: 100%;
    }
    &_2, &_4 {
        max-height: 394px;
        object-fit: cover;
    }
}