$cd-primaire: #9356DC;
$cd-secondaire: #FF79DA;
$cd-tertiaire: #99E2D0;

.logo {
    display: flex;
    width: 50%;
    margin: auto;
}

.intro_lieu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    background-color: #eaeaea;
    align-items: center;
}
.lieu {
    padding-right: 15px;
}

.intro_menu, aside {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn {
    display: flex;
    align-self: center;
    border-radius: 30px;
    padding: 20px;
    margin: 20px 0 40px 0;
    font-size: 1em;
    color: white;
    background: linear-gradient(top, lighten($cd-secondaire, 5) 0%, darken($cd-primaire, 10) 100%)
}

.fonction {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fonc_number {
    display: flex;
    align-items: center;
    position: absolute;
    left: 135px;
    border: 2px solid $cd-primaire;
    background-color: $cd-primaire;
    border-radius: 50px;
    padding: 10px;
    max-height: 10px;
    max-width: 10px;
    color: white;
    z-index: 2;
}
.fonc_texte {
        width: 50%;
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 15px;
        border-radius: 15px;
        justify-content: space-evenly;
        z-index: 1 ;
        transition: background-color 250ms;
        &:hover {
                 background-color: lighten($cd-primaire,35);
        }
}


.titre_section {
    font-size: 1.6em;
    padding-left: 20px;
}
.card_restau {
    margin-bottom: 20px;
}
.img_restau {
        width: 94%;
        max-height: 394px;
        object-fit: cover;
        padding-left: 20px;
        margin: 0px;
}
.info_menu {
    margin-top: 0px;
}
.texte_menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}
.far {
    position: absolute;
    left: 92%;
    top: 93%;
}
a {
    text-decoration: none;
    &:visited {
        color: black;
    }
}