.logo {
    display: flex;
    width: 50%;
    margin: auto;
}

.intro_lieu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    background-color: #eaeaea;
    align-items: center;
}

.fas {
    padding-right: 10px;
}

.intro_menu, aside {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn {
    display: flex;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0 40px 0;
}

.texte_menu {
    display: flex;
    flex-direction: column;
}

.fonc {
    &_1, &_2, &_3, &_4{
        width: 50%;
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 10px;
        border-radius: 15px;
    }
}
.img_restau {
    &_1, &_2, &_3, &_4 {
        width: 100%;
    }
    &_2, &_4 {
        max-height: 394px;
        object-fit: cover;
    }
}

.far {
    position: absolute;
    left: 92%;
    top: 93%;
}